body {
    background-color: black;
}

h1 {
    font-size: 250%;
    text-transform: capitalize;
}

.motivation-img {
    border: 5px solid white;
    width: 75%;
    height: 75%;
}

.poster {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    width: 50%;
    margin: 25%;
    margin-top: 100px;
    color: white;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
        text-transform: capitalize;
    }
}
